--index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
fastapi
uvicorn
python-dotenv
supabase
langchain
langchain-google-genai
langchain-openai
langchain-huggingface
pydantic
typing
sentence-transformers